# Ignorar archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar logs y archivos temporales
/logs/
/temp/

# Ignorar directorio de dependencias (ejemplo para PHP y Composer)
/vendor/
/node_modules/
/public/img/
/.vscode/
/.composer/

# Ignorar archivos de configuración local (ejemplo para PHP)
.env
.env.local
.env.prod
.env.test
.env.dev
.env.staging
pass.txt
contra.php
memoria_intranet.code-workspace
error_log
*.code-workspace
noves-taules.txt