.btn-custom-1 {
  background-color: #133b7c;
  border: #b39b7c;
  color: #c2af96;
  font-size: 20px;
  text-decoration: none !important;
  border: 1px solid #133b7c !important;
  border-radius: 15px;
}

.btn-custom-1:hover {
  background-color: rgb(138, 116, 87);
  color: #133b7c;
  border: 1px solid rgb(255, 255, 255) !important;
  border-radius: 15px;
}

.btn-custom-2 {
  background-color: #c2af96;
  border: #b39b7c;
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-decoration: none !important;
  border: 1px solid #133b7c00 !important;
}

.btn-custom-2:hover {
  background-color: #b39b7c;
  color: #000000;
  border: 1px solid #000000 !important;
}

.btn-custom-3 {
  background-color: #133b7c;
  border: #000000;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none !important;
  border: 1px solid #133b7c !important;
  border-radius: 15px;
}

.btn-custom-3:hover {
  background-color: rgb(138, 116, 87);
  color: #133b7c;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 15px;
}

/* Estilo del título */
.column-title {
  color: #f7f5f2;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

/* Convertir el título en un botón al hacer hover */
.column-hover:hover .column-title {
  background-color: #eeead9;
  color: #a2845e;
  padding: 12px 24px;
  border: 1px solid #a2845e;
  border-radius: 20px;
}

/* Botons fitxa represaliat */
.button {
  border: 1px solid #c2af96 !important;
}

#botons1 {
  background-color: #f6f4eb !important;
  display: flex;
  gap: 0.3rem;
}

.tablinks {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  font-size: 16px !important;
  border: 1px solid #c2af96 !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.botoCategoriaRepresio {
  border-radius: 15px !important;
  font-size: 16px !important;
  border: 1px solid #c2af96 !important;
  background-color: #f2f2f2 !important;
}

.botoCategoriaRepresio:hover {
  color: white !important;
  border: 1px solid #c2af96 !important;
  background-color: #c2af96 !important;
}

.colorBtn1 {
  background-color: #f1eee0 !important;
  color: #133b7c !important;
  font-weight: 500;
  font-style: italic;
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
}

.colorBtn2 {
  background-color: #f1eee0 !important;
  color: #133b7c !important;
  font-weight: 500;
  font-style: italic;
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
}

.colorBtn1:hover,
.colorBtn2:hover {
  background-color: #c2af96 !important;
  color: #133b7c !important;
}

.active {
  background-color: #c2af96 !important;
  color: #133b7c !important;
}

/* Botons filtre */
.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #007bff;
  background-color: #fff;
  color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: #007bff;
  color: white;
}

.filter-btn:active {
  transform: scale(0.95);
}

.filter-btn.active {
  background-color: #007bff;
  color: white;
}


/* En móvil, uno debajo del otro */
@media (max-width: 767.98px) {
.tablinks {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;

}
}



